:root {
  --default-margin: 0 160px;
  --space-sm: 12px;
  --space-md: 16px;
  --space-lg: 24px;
  --br-max: 9999px;
  --primary-color: #2db8a1;
  --blue: #0a66c2;
  --border-color: #e9eaea;
  --font-lg: 16px;
  --font-color-dd: #282f2d;
  --font-color-d: #484e4c;
  --font-color: #737877;
  --font-color-l: #949796;
}
