.post-interactions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 var(--space-lg);
  padding-bottom: var(--space-md);
  color: var(--font-color);
  font-size: var(--font-md);
  border-bottom: solid 1px var(--border-color);
  .likes {
    display: flex;
    flex-direction: row;
    gap: var(--space-xs);
  }
}
