.post-author {
  display: flex;
  gap: var(--space-sm);
  flex-direction: row;
  align-items: center;
  padding: 0 var(--space-lg);
  .details {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    .username {
      font-size: var(--font-lg);
      color: var(--font-color-dd);
    }
    .post-details {
      display: flex;
      flex-direction: row;
      gap: var(--space-xs);
      font-size: var(--font-md);
      color: var(--font-color-l);
      .shop-name {
        color: var(--blue);
      }
    }
  }
}
